PORT=5000

# MongoDB connection string
MONGO_URI=mongodb://127.0.0.1:27017/datumart_reviews

# Google Places API Key
GOOGLE_PLACES_API_KEY=YOUR_GOOGLE_PLACES_API_KEY

# Mock data mode
USE_MOCK_DATA=true

# Frontend URL
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000